{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0559096e5d.js" crossorigin="anonymous"></script>
    <base href="/">

    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <title>El Cafe</title>

</head>
<body>
     <nav class="navbar nvb navbar-fixed-top">
        <a href="#" class="navbar-brand"> El Cafe </a>

        <div class="navbar">

            <div class="btn btn-danger">
            <i class="fas fa-shopping-cart"></i>
            <a tabindex="0" style="color: white;" data-html="true" href="#" id="cart_items"  data-placement="bottom" role="button" data-toggle="popover" data-trigger="focus" title="<h5>Cart Items</h5>" data-content="Your cart is empty! Continue Exploring..">Cart</a>
        </div>
            <a href="{% url 'index' %}" class="nav-item nav-link"> Menu </a>

            <a href="{% url 'reviews' %}" class="nav-item nav-link"> Reviews </a>


            {% if user.is_authenticated %}
                <a href="{% url 'myorders' %}" class="nav-item nav-link"> Orders </a>
                <a href="{% url 'profile' %}" class="nav-item nav-link"> Profile </a>
                <a href="{% url 'logout' %}"  class="nav-item nav-link"> Log out </a>

                {% else  %}
                <a href="{% url 'register' %}" class="nav-item nav-link"> Register </a>
                <a href="{% url 'login' %}"  class="nav-item nav-link"> Log In </a>
            {% endif %}




        </div>

    </nav>

    {% if messages %}
        {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
            {{ message }}
    </div>
        {% endfor %}
    {% endif %}

    {% block body %}
    {% endblock %}


</body>
 <script>

    if(localStorage.getItem('cart')==null){
        var cart={};
        var item_name={};
        var item_price={};
        var item_discounted_price={};
        var total_price = 0;
        var disc_applied = 0;
        var final_amount = 0;
        var dish_names = '';
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
        item_name =  JSON.parse(localStorage.getItem('item_name'));
        item_price =  JSON.parse(localStorage.getItem('item_price'));
        item_discounted_price = JSON.parse(localStorage.getItem('item_discounted_price'));
    }
    var len = Object.keys(cart).length;
    document.getElementById("cart_items").innerHTML = "Cart("+(len)+")";

    $(document).on('click','.atc',function(){
        var item_id = this.id.toString();

        if(cart[item_id]!=undefined){
            cart[item_id] = cart[item_id] + 1;

        }
        else{
            cart[item_id] = 1;
        }
        if(item_name[item_id]==undefined){
            item_name[item_id] =document.getElementById("name"+item_id).innerHTML;

        }
        if(item_price[item_id]==undefined){
            console.log(document.getElementById("price"+item_id).innerHTML);
            item_price[item_id] =document.getElementById("price"+item_id).innerHTML;

        }
        if(item_discounted_price[item_id]==undefined){
             console.log(document.getElementById("discprice"+item_id).innerHTML);
            item_discounted_price[item_id] =document.getElementById("discprice"+item_id).innerHTML;

        }
        localStorage.setItem('item_name',JSON.stringify(item_name));
        localStorage.setItem('item_price',JSON.stringify(item_price));
        localStorage.setItem('item_discounted_price',JSON.stringify(item_discounted_price));
        localStorage.setItem('cart',JSON.stringify(cart));
        disp_cart(cart);
        document.getElementById("cart_items").innerHTML = "Cart("+(Object.keys(cart).length)+")";
    });

 $(function () {
  $('[data-toggle="popover"]').popover();
})
$('.popover-dismiss').popover({
  trigger: 'focus'
})


        disp_cart(cart);

        function disp_cart(cart) {
            var cart_string = "";
            var cart_index = 1;
            for (var x in cart) {
                cart_string += '<h6>' + cart_index + '. <span class="cart-heading">' + item_name[x] + '</span> <b> x ' + cart[x] + '</b></h6>';
                cart_index += 1;
            }

            cart_string += "<a style='margin-left: 20%;' href='/checkout'> <button class='btn btn-warning' id='checkout'>Checkout</button></a>";
            document.getElementById("cart_items").setAttribute('data-content', cart_string);

        }
    final_amount = JSON.parse(localStorage.getItem('final_amount'));
    disc_applied = JSON.parse(localStorage.getItem('disc_applied'));
    total_price = JSON.parse(localStorage.getItem('total_price'));
    dish_names = JSON.parse(localStorage.getItem('dish_names'));


    $('#total_price').val(JSON.stringify(total_price));
    $('#final_amount').val(JSON.stringify(final_amount));
    $('#disc_applied').val(JSON.stringify(disc_applied));
    $('#dish_names').val(JSON.stringify(dish_names));
    $('#item_quantity').val(JSON.stringify(cart));
    $('#item_list_price').val(JSON.stringify(item_price));
    $('#item_list_disc').val(JSON.stringify(item_discounted_price));

</script>
</html>