{% extends 'shop/base.html' %}
{% block body %}


    <div class="container checkout-box" style="text-align: center;">
    <div class="container">
    <div class="card">
  <div class="card-header text-muted"> Order ID : #4970{{ obj.id }} </div>
  <div class="card-body">
      <p> Ordered by : {{ obj.first_name }} {{ obj.last_name }} </p>
      <div class="border p-2"><i class="fas fa-address-card">     Delivery Address : </i><br>{{ obj.address }} </div>
      <div class="border p-2">  <i class="fas fa-pizza-slice">    Item Summary :  </i> <br> {{ obj.cart_items }}</div>
      <div class="border p-2">  <i class="fas fa-rupee-sign">     Amount Details :  </i> <br>
          <div class="list-group p-2">  Total Price : Rs. {{ obj.total_price }}
      </div>
      <div class="list-group p-2"> Discount Applied : Rs. {{ obj.discount_applied }}
      </div>
      <div class="list-group p-2"> Final Amount : Rs. {{ obj.final_amount }}
      </div>
      <div class="list-group p-2"> Payment mode : {{ obj.payment_mode }}
      </div>
      </div>

      <div class="border p-2">  <i class="fas fa-clock">   Time of Order :  </i> <br>

      <div class="list-group p-2"> Date : {{ obj.order_date }}
      </div>
      <div class="list-group p-2"> Order Time : {{ obj.order_time }}
      </div>

      </div>

      <h4> Order will be delivered by : {{ obj.delivery_time }} </h4>

  </div>
        <div class="pd-4">
        <a href="{% url 'receipt' obj.id %}" class="btn btn-primary"> Download Receipt </a>
        </div>
  <div class="card-footer text-muted">Thank you for ordering!</div>
</div>


{% endblock %}