{% extends 'shop/base.html' %}
{% block body %}

    {% if user.is_authenticated %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profilemodel.image.url }}">

        <div class="media-body">
          <h4 class="account-heading">{{ user.username }}</h4>
            <p class="text-secondary">{{ user.email }}</p>
            <a href="{% url 'review-create' %}" class="btn btn-sm btn-primary"> Add Review </a>
        </div>
      </div>
    </div>
    {% endif %}
    {% for post in posts %}
        <article class="media review content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profilemodel.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <p class="mr-2">{{ post.author }}
              <small class="text-muted">{{ post.date_posted }}</small></p>
            </div>
            <h2><a href="{% url 'review-detail' post.pk %}" class="article-title">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}



{% endblock %}